/* general stylings for all 3 pages */

body {
  background: linear-gradient(to right bottom, lightblue, lightseagreen);
  font-family: "Oxygen", sans-serif;
}

a {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
footer {
  position: absolute;
  bottom: 0;
  line-height: 60px;
}
a:hover {
  color: white;
}
.me {
  border-radius: 50%;
  border: 1px solid teal;
}

.iconRow {
  display: flex;
  height: 80px;
  justify-content: center;
  margin: auto 0;
  padding-bottom: 15px;
}

.iconName {
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
}
.icons {
  height: 70px;
  width: 50px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  padding: 15px 10px;
  border: 1px solid teal;
  margin: 5px;
  transition: all 0.8s;
}
.icons:hover {
  color: white;
  background: teal;
  width: 100px;
}
.resume {
  height: 72vh;
  width: 100%;
  margin-bottom: 5px;
}
.the_box {
  background: white;
  margin-top: 50px;
  box-shadow: 0 0 10px teal;
  text-align: center;
  transition: all 0.5s;
  border: 2px solid white;
}
.clickHere {
  color: white;
}
.the_box--projects:hover {
  background: rgba(255, 255, 255, 0.25);
  color: white;
  cursor: pointer;
}

#dv {
  margin-left: 25px;
  margin-right: 25px;
}

.margins_container {
  margin: 5px;
}
/* styling for the navigation */

.flex_Right {
  flex-direction: row-reverse;
}

.navbar-header-custom {
  color: white !important;
  font-size: 25px;
  background: teal;
  margin-left: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.header_custom {
  margin: 25px 0 25px 5px;
  border-bottom: 1px solid lightblue;
}

/* the about me section  */
.align {
  text-align: justify;
}

.wrap {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 15px;
}

/* the portfolio section  */

.portfolio_margins {
  margin: auto 15px;
}

.portfolio_container {
  padding-bottom: 50px;
}

.portfolio_pic {
  height: 175px;
  width: 350px;
}

.image_margins {
  margin: 5px;
}
/* the contact section  */

.submit_btn {
  background: teal;
  height: 50px;
  width: 150px;
  margin: 5px 3px 15px 15px;
  border-radius: 0;
}

/* the footer styling */
.footer {
  position: absolute;
  background: teal;
  text-align: center;
  width: 100%;
  height: 50px;
  border-top: 5px solid lightseagreen;
  color: lightseagreen;
  line-height: 2.5;
  margin-top: auto !important;
}

.space {
  height: 50px;
}

/* unique styling for screens smaller or equal too 600px */
@media only screen and (max-width: 600px) {
  .small_screen_margins {
    margin: 5px;
  }

  img {
    margin-bottom: 25px;
  }
}
/* unique styling for screens smaller or equal too 768px */

@media only screen and (max-width: 768px) {
  .small_screen_margins {
    margin: 5px;
  }
  .med_screen_contact_margin {
    margin-top: 50px;
  }
  .med_screen_contact_height {
    height: 60vh;
  }
  .submit_btn {
    height: 45px;
    width: 150px;
  }
  .pusher {
    margin-right: 75px;
  }
  .med_textbox {
    height: 65%;
  }
  .header_custom_med {
    line-height: 2;
    font-size: 40px;
  }
}

/* unique styling for screens bigger or equal too 768px */

@media only screen and (min-width: 768px) {
  .container_custom {
    height: 89.77vh;
  }
}
