.flex_Right {
  flex-direction: row-reverse;
}

.submit_btn {
  height: 45px;
  width: 150px;
}
.navbar-header-custom {
  color: white;
  font-size: 25px;
  background: teal;
  margin-left: 15px;
}
.header_custom {
  margin: 25px 0 25px 5px;
  border-bottom: 1px solid lightblue;
}
body {
  background: lightblue;
}

.about_me_box {
  background: white;
  margin-top: 50px;
}

.portfolio_box {
  background: white;
  margin-top: 50px;
}
.wrap {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 15px;
}
.align {
  text-align: justify;
}

.margins_container {
  margin: 5px;
}
.footer {
  position: absolute;
  background: teal;
  text-align: center;
  width: 100%;
  height: 50px;
  border-top: 5px solid lightseagreen;
  color: lightseagreen;
  line-height: 2.5;
  margin-top: auto !important;
}
.portfolio_container {
  padding-bottom: 50px;
}

.portfolio_pic {
  height: 350px;
  width: 350px;
}

.space {
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .small_screen_margins {
    margin: 5px;
  }

  .portfolio_margins {
    margin: auto 15px;
  }

  img {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .small_screen_margins {
    margin: 5px;
  }
  .med_screen_contact_margin {
    margin-top: 50px;
  }
  .med_screen_contact_height {
    height: 60vh;
  }
  .submit_btn {
    height: 45px;
    width: 150px;
  }
  .pusher {
    margin-right: 75px;
  }
  .med_textbox {
    height: 65%;
  }
  .header_custom_med {
    line-height: 2;
    font-size: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .container_custom {
    height: 85.62vh;
  }
}
